/* 
 * Add custom avatar frame for your Mastodon account, see:
 * 为你的 Mastodon 账号添加一个头像框，请按照链接中的说明修改：
 * https://github.com/mashirozx/hello_robots_txt/blob/master/custom/docs/custom_avatar_frame.md
 */

$user_config: (
  /* add rules here */
  "https://hello.2heng.xin/@mashiro": ("bili_frame", $bili_frame_110),
  "https://hello.2heng.xin/@sakura": ("bili_frame", $bili_frame_085),
  "https://hello.2heng.xin/@arknights": ("bili_frame", $bili_frame_096),
  "https://hello.2heng.xin/@test": ("cat_ears"),
  "https://hello.2heng.xin/@yoshino": ("bili_frame", $bili_frame_021),
  "https://hello.2heng.xin/@ReDive": ("bili_frame", $bili_frame_010),
  "https://hello.2heng.xin/@lele": ("bili_frame", $bili_frame_047),
  "https://hello.2heng.xin/@99_blossoms": ("bili_frame", $bili_frame_096),
  "https://hello.2heng.xin/@literalkernel": ("cat_ears"),
  "https://hello.2heng.xin/@cool": ("cat_ears"),
  "https://hello.2heng.xin/@apatite": ("bili_frame", $bili_frame_085),
  "https://hello.2heng.xin/@MrLeonids": ("bili_frame", $bili_frame_013),
  /* end of rules config */
);
