// resize custom emoji
:root {
  --custom-emoji-size-enhance: 36px;
  --custom-emoji-size-medium: 60px;
  --custom-emoji-size-large: 100px;
  --custom-emoji-hover-scale: 1.5;
  --custom-emoji-scale-duration: .3s;
}

.emojione.custom-emoji {

  // small emoji with little enhancement
  &[title^=":menhera_lg_"],
  &[title^=":CalicoCat_MikuPiyo_"],
  &[title^=":bili_2233_"],
  &[title^=":bili_tv_"],
  &[title^=":ht_"],
  &[title^=":re_zero_"],
  &[title^=":kurumi_chan_"],
  &[title^=":yuru_yuri_"],
  &[title^=":natsume_"],
  &[title^=":umaru_chan_"] {
    height: var(--custom-emoji-size-enhance);
    width: var(--custom-emoji-size-enhance);
  }

  // medium emoji
  &[title^=":pio_"],
  &[title^=":ac_classic"],
  &[title^=":ac_acg"],
  &[title^=":amiya_"],
  &[title^=":ak_"],
  &[title^=":bangdream_"],
  &[title^=":pcr_"] {
    height: var(--custom-emoji-size-medium);
    width: var(--custom-emoji-size-medium);
    transform: scale(1);
    transform-origin: center;
    transition: transform var(--custom-emoji-scale-duration) ease-in-out;

    &:hover {
      transform: scale(var(--custom-emoji-hover-scale));
      background-color: #f6f3ed;
      padding: 5px;
      border-radius: 5px;
      opacity: .9;
    }
  }

  // large stickers
  &[title^=":menhera_"][title$="_EN:"] {
    display: block;
    height: var(--custom-emoji-size-large);
    width: var(--custom-emoji-size-large);
    transform: scale(1);
    transform-origin: center;
    transition: transform var(--custom-emoji-scale-duration) ease-in-out;

    &:hover {
      transform: scale(var(--custom-emoji-hover-scale));
      background-color: #f6f3ed;
      padding: 5px;
      border-radius: 5px;
      opacity: .9;
    }
  }
}

// fix custom emoji in names
.account__header__tabs__name .emojione.custom-emoji {
  width: 22px;
  height: 22px;
  margin-left: 0;
  margin-right: 0;
  pointer-events: none;
}

.notification__display-name .emojione.custom-emoji,
.display-name .emojione.custom-emoji,
.status__display-name .emojione.custom-emoji,
.public-account-header__tabs__name .emojione.custom-emoji {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

// emoji-mart resize
.emoji-mart-category .emoji-mart-emoji.emoji-mart-emoji-custom span {
  height: 33px !important;
  width: 33px !important;
}

// if need special size in emoji-mart
// .emoji-mart-category .emoji-mart-emoji.emoji-mart-emoji-custom[title^=":CalicoCat_MikuPiyo_"] span {
//   height: 22px !important;
//   width: 22px !important;
// }
