// resize custom emoji
$custom-emoji-size-enhance: 36px;
$custom-emoji-size-medium: 60px;
$custom-emoji-size-large: 100px;
$custom-emoji-hover-scale: 1.5;
$custom-emoji-scale-duration: .3s;

.emojione.custom-emoji {

  // small emoji with little enhancement
  &[title^=":menhera_lg_"],
  &[title^=":CalicoCat_MikuPiyo_"],
  &[title^=":bili_2233_"],
  &[title^=":bili_tv_"],
  &[title^=":ht_"],
  &[title^=":re_zero_"],
  &[title^=":kurumi_chan_"],
  &[title^=":yuru_yuri_"],
  &[title^=":natsume_"],
  &[title^=":siamese_"],
  &[title^=":umaru_chan_"] {
    height: $custom-emoji-size-enhance;
    width: $custom-emoji-size-enhance;
  }

  // medium emoji
  &[title^=":pio_"],
  &[title^=":stitch_"],
  &[title^=":ac_classic"],
  &[title^=":ac_acg"],
  &[title^=":amiya_"],
  &[title^=":ak_"],
  &[title^=":bangdream_"],
  &[title^=":pcr_"] {
    height: $custom-emoji-size-medium;
    width: $custom-emoji-size-medium;
  }

  // large stickers
  &[title^=":menhera_"][title$="_EN:"] {
    height: $custom-emoji-size-large;
    width: $custom-emoji-size-large;
  }
}

// fix custom rmoji in reaction bar
.reactions-bar__item__emoji .emojione.custom-emoji {
  width: 100%;
  height: 100%;
}

// fix custom emoji in names
.account__header__tabs__name .emojione.custom-emoji {
  width: 22px;
  height: 22px;
  margin-left: 0;
  margin-right: 0;
  pointer-events: none;
}

.notification__display-name .emojione.custom-emoji,
.display-name .emojione.custom-emoji,
.status__display-name .emojione.custom-emoji,
.public-account-header__tabs__name .emojione.custom-emoji {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

// emoji-mart resize
.emoji-mart-category .emoji-mart-emoji.emoji-mart-emoji-custom span {
  height: 33px !important;
  width: 33px !important;
}
